<div style="width: 300px; font-size: 18px; float: left; margin-top: 30px">
  <div style="margin: 8px; color: #888888; direction: rtl">
    <div style="" (click)="dataTableService.selected = undefined">
      <b *ngIf="dataTableService.selected === undefined; else elseBlock">
        Alle
      </b>
      <ng-template #elseBlock>
        Alle
      </ng-template>
    </div>
    <div style="margin-top: 8px" *ngFor="let category of dataTableService.categories">
      <div name="cate" (click)="dataTableService.selected = category">
        <b *ngIf="dataTableService.selected == category; else elseBlock">
          {{category.name}}
        </b>
        <ng-template #elseBlock>
          {{category.name}}
        </ng-template>
      </div>
    </div>
    <div style="margin-top: 8px">
      <input style="background-color: transparent; color: #888888" [(ngModel)]="dataTableService.catName" (keyup.enter)="dataTableService.addCategory()">
    </div>
  </div>
</div>
