<div>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <div class="">
    <table class="todo-table">
      <thead>
        <tr class="head-row" style="user-select: none">
          <th style="width: 05%;" class="status-col" scope="col">&nbsp;</th>
          <th style="width: 05%;" class="priority-col">&nbsp;</th>
          <th style="width: 10%;" class="id-col">ID</th>
          <th style="width: 45%;" class="name-col">Bezeichnung</th>
          <th style="width: 10%;" class="until-col">Fällig bis</th>
          <th style="width: 15%;" class="category-col">Kategorie</th>
          <ng-container *ngIf="dataTableService.showExtraButtons.enabled">
            <th style="width: 05%;" class="delete-button-col">&nbsp;</th>
            <th style="width: 05%;" class="clone-button-col">&nbsp;</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let todo of dataTableService.todoList()">
          <tr class="rows">
            <td style="user-select: none">
              <ng-container *ngIf="todo.status != Status.DONE">
                <button style="border: 0px transparent; background: transparent" (click)="nextStatus(todo)"><mat-icon>{{todo.status.button}}</mat-icon></button>
              </ng-container>
              <ng-container *ngIf="todo.status == Status.DONE">
                <mat-icon style="margin: 5px 10px 5px 10px">{{todo.status.button}}</mat-icon>
              </ng-container>
            </td>

            <td style="user-select: none">
              <mat-icon style="background-color: transparent; border: none; width: 50px; margin-left: -10px">
                <select style="background-color: transparent; border: none; box-shadow: none; color: #888888" [(ngModel)]="todo.priority" (ngModelChange)="dataTableService.save()">
                  <option [ngValue]="Priority.UNASSIGNED" style="background-color: #222222; border: none">{{Priority.UNASSIGNED.button}}</option>
                  <option [ngValue]="Priority.LOW" style="background-color: #222222; border: none">{{Priority.LOW.button}}</option>
                  <option [ngValue]="Priority.HIGH" style="background-color: #222222; border: none">{{Priority.HIGH.button}}</option>
                </select>
              </mat-icon>
            </td>

            <td style="user-select: none">{{todo.id}}</td>

            <td>
              <input style="background: transparent; border: transparent; width: 610px; color: #888888" [(ngModel)]="todo.name" (change)="dataTableService.save()">
            </td>

            <td>
              <input style="width: 120px; border: transparent; background-color: transparent; color: #888888; user-select: none" [(ngModel)]="todo.until" type="date">
            </td>

            <td>
              <select [(ngModel)]="todo.category" style="user-select: none; width: 200px; background-color: transparent; border: none; box-shadow: none; color: #888888" (ngModelChange)="dataTableService.save()">
                <option *ngFor="let category of dataTableService.categories" style="background-color: #222222; border: none" [ngValue]="category">{{category.name}}</option>
              </select>
            </td>

            <ng-container *ngIf="dataTableService.showExtraButtons.enabled">
              <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top" (click)="dataTableService.delete(todo)" style="user-select: none; border: 0px transparent; background: transparent"><mat-icon>delete</mat-icon></button></td>
              <td><button (click)="dataTableService.clone(todo)" style="user-select: none; border: 0px transparent; background: transparent"><mat-icon>control_point_duplicate</mat-icon></button></td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
