<div>
  <div style="user-select: none; height: 30px" (click)="dataTableService.saveSetting(dataTableService.showExtraButtons)">
    <input id="{{dataTableService.showExtraButtons.description}}" type="checkbox" [(ngModel)]="dataTableService.showExtraButtons.enabled">
    <label style="margin-left: 7px; font: 15px Arial; color: #888888" for="{{dataTableService.showExtraButtons.description}}">{{dataTableService.showExtraButtons.description}}</label>
  </div>
  <div style="user-select: none; height: 30px" (click)="dataTableService.saveSetting(dataTableService.sortList)">
    <input id="{{dataTableService.sortList.description}}" type="checkbox" [(ngModel)]="dataTableService.sortList.enabled">
    <label style="margin-left: 7px; font: 15px Arial; color: #888888" for="{{dataTableService.sortList.description}}">{{dataTableService.sortList.description}}</label>
  </div>
</div>
