<div style="color: #888888; user-select: none">
  <div>Name:</div>
  <input name="name" [(ngModel)]="this.name" style="width: 500px; background-color: transparent; color: #888888"/>
  <br>
  <br>
  <div style="width: 500px;">
    <div>Frist:</div>
  </div>
  <div style="width: 500px;">
    <input name="until" [(ngModel)]="until" type="date" style="width: 500px; float: left; background-color: transparent; color: #888888"/>
  </div>
  <br>
  <br>
  <div>Kategorie:</div>
  <select name="categories" style="width: 500px; background-color: transparent; color: #888888" [(ngModel)]="category">
    <option *ngFor="let categories of dataTableService.categories" [ngValue]="categories">
      {{categories.name}}
    </option>
  </select>
  <br>
  <br>
  <button style="width: 500px; background-color: transparent; color: #888888" (click)="create()">
    Hinzufügen
  </button>
</div>
